.appWrapper{width: 100%; background-color: #222; color: #fff;}
.nav-item{text-decoration: none; color: #fff; padding: 10px;}
.nav-item:hover{color: #E50914;}
.banner{display: flex; align-items: center; position: relative; height: 600px; color: #fff;}
.banner:before{content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to right, black, transparent);}
.banner-info{z-index: 1; width: 40%; margin-left: 30px;}
.movie-card{width: 300px; height: 200px; margin: auto; cursor: pointer; background-color: #000; background-size: cover; background-position: center; transition: .5s;}
.overLay{width: 100%; height: 100%; padding: 10px; opacity: 0; background-color: rgba(0, 0, 0, 0.3);}
/* .movie-card:hover{width: 600px; height: 300px;} */
.movie-card:hover .overLay{opacity: 1;}
.poster-img{width: 100%; height: 100%;}
.relatedList{display: flex; justify-content: center; align-items: center; gap: 20px; flex-wrap: wrap;}
.relatedList .movie-card{width: calc(50% - 20px); height: 200px; background-size: cover; background-position: center;}
.tabCont{display: none;}
.tabCont.active{display: block;}